/* Meta: page formatting  */

input {
    font-size: 16px;
}

section {
    padding: 1em;
}

section:nth-of-type(2n) {
    background-color: #eee;
}

section:nth-of-type(2n+1) {
    border: 1px solid #ccc;
}
footer.meta,
footer.meta a {
    font-size: 0.8rem;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    /*font-size: 85%;*/
    background-color: #1b1f230d;
    border-radius: 6px;
    font-family: monospace;
}
